:root {
  --color1: #edd7bf;
  --color2: #f8e08a;
  --color3: #daa384;
  --color4: #e59862;
  --color5: #9a7d5f;
}

html {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--color2);
}

.welcome {
  height: 100vh;
  width: 100vw;
  background: url('../props/earth.jpg');

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20vh;
  color: var(--color1);
  color: white;
}
.h3 {
  font-size: 4rem;
}

.logo {
  background: url('../props/Minecraft-Logo.png') center center/cover;
  width: 40%;
  height: 20%;
}

.hidden {
  display: none;
}

.game-container {
  height: 100vh;
  width: 100%;
  margin: auto;
}

.game-board {
  width: 100vmin;
  height: 70vmin;
  flex-shrink: 0;
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
  margin: auto;
  /* background-color: aqua; */
}

.cube:hover {
  opacity: 0.8;
}

.sky {
  background-color: skyblue;
}
.clude {
  background-color: rgba(255, 255, 255, 0.87);
}
.earth {
  background: url('../props/earth.jpg') center center/cover;
}
.stone {
  background: url('../props/stone.jpg') center center/cover;
}
.wood {
  background: url('../props/wood.png') center center/cover;
}
.leaf {
  background: url('../props/leafs.jpg') center center/cover;
}
.grass {
  background: url('../props/grass.jpg') center center/cover;
}

.control-panel {
  height: 30vmin;
  /* flex-grow: 0.8; */
  /* flex-shrink: 1; */
  max-width: 900px;
  margin: auto;
  background-color: var(--color2);
  /* border: var(--color4) 2px solid; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

h2 {
  margin-bottom: 5px;
}

.tools,
.inventory {
  /* height: 45%; */
  /* background-color: lightblue; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  width: 20rem;
}

.tools {
  width: 15rem;
}

.inventory-item p {
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color1);
}

.tool,
.inventory-item {
  height: 4rem;
  width: 4rem;
  border: 2px var(--color5) solid;

  font-size: 2rem;
  text-align: center;
}
.selected {
  /* border-color: var(--color4); */
  box-shadow: 0px 0px 1px 2px var(--color4);
}

.axe {
  background: url('../props/axe.png') center center/cover;
}
.pickaxe {
  background: url('../props/pickaxe.jpg') center center/cover;
}
.shovel {
  background: url('../props/shoval.jpg') center center/cover;
}

.tool {
  background-color: #eee;
}

.btn {
  margin: 10px;
  background-color: var(--color4);
  border: var(--color5) 4px solid;
  padding: 5px 20px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
}

.btn:hover {
  opacity: 0.8;
}
